body {
    background-color: rgb(39, 39, 39);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:start;
}

.level-body {
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    
}

.score-body {
    text-align: center;
    grid-column: 3;
}

.score-body h2,
.level-body h2 {
    display: inline;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 2rem;
    color: #fff;
    background-color: blue;
}

.score,
.level {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    margin: 50px;
}

.principal {
    width: 512px;
    height: 512px;
    padding-top: 10px;
    text-align: center;
    margin: 0 auto; 
    color: white;  
}


#fade {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: #fcfbfc;
    border-radius: 20px;
    width: 600px;
    height: 400px;
    z-index: 10;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

#modal .titulo {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#modal #restart-btn {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    padding: 10px 0px;
    letter-spacing: .05rem;
    width: 100%;
    opacity: .9;
    /* flex: 1; */
}

#modal #restart-btn:hover {
    opacity: 1;
    transition: .5s;
    transform: scale(1.1);
    cursor: pointer;
}

#modal.hide,
#fade.hide {
    display: none;
}

#modal.hide {
    top: 0;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.titulo-snake {
    width: 700px;
    height: 300px;
    border-radius:1em;
    text-align: center;
    margin: 0 auto; 
    color: black; 
    background-color: aliceblue;    
}

.botao-principal {
    
    text-align: center;
    margin: 0 auto; 
    background-color: aliceblue;
}

.borda-game {
    width: 600px;
    height: 640px;
    margin: 0 auto;
    text-align: center;
    color: white;
    grid-column: 2;
    grid-row: 1;
}


